
html,body{
	    height:100%;      
       

}

#wrapper {
        height:100%;
        background: green;
        z-index: 100;
        overflow: hidden;
  	  	position: relative;
    	width: 100%;

    }

.head{
	border: 3px solid black;
	/*border-radius: 5px;	*/
	background: black;
}


.head > h1{
	text-align: center;	
	font-size: 60px;
	color: #770000;	

}

.hidden-class{
	visibility: hidden;
}
.show-class{
	visibility: visible;
}

.log-jogo{
	border-right: 2px solid black;
	height: 100%;
	
}

#fundo{
	z-index: 104;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	display: inherit;
}


#game-begin{

	/*display: none;*/
	z-index: 105;
	margin-left:34%; 
	margin-top: 20%;
	position: absolute;
	padding: 20px 10px 10px 10px;
	width: 30%;
	height: 30%;
	background: white;
	border: 3px solid black;
	border-radius: 5px;
	text-align: center;
}

.carta{
    float: left;
    position: relative;
	height: 210px;
	width: 130px;
	background: white;
	border: 1px solid white;
	border-radius: 5px;
    margin-bottom: 10px;
    padding-right: 0;
}

.game{
    display: block;
    height: 100%;      
}


#cartas-player{
    position: absolute;
    width: 100%;
    height: 42%;

    display: inline;
}

#cartas-player > div{
    margin-right: 10px;
}
#cartas-comp > div{
    margin-right: 10px;
}

#cartas-comp{
    position: absolute;
    width: 100%;
    top: 42%;
    height: 42%;

    display: inline;
}

#aposta{
    
    position: absolute;
    /*border: 1px solid red;*/
    width: 80%;
    height: 22%;

}

#aposta > div > *{
    margin-top:10px;
}

#continua-aposta{
    display: none;
    position: absolute;
    /*border: 1px solid blue;*/
    width: 80%;
    height: 22%;

}

#continua-aposta > button{

    width: 100%;
    margin-top:15px;

}
#stats{
	display: none;
/*	border: 1px solid purple;*/
	text-align: center;
	margin-top: 70%;
}

#final-result{
	display: none;
	/*border: 1px solid orange;*/
}

.carta > h4{
	font-size: 40px;
	padding-left: 10px;
}

.carta > img{
	
	margin-left: 15%;
	width: 80px;
	height: 80px;
}


