
html,body{
	    height:100%;  
	    background: green;    
       

}

.head{
	border: 3px solid black;
	/*border-radius: 5px;	*/
	background: black;	
}

#player-name{
margin: 0px;
}

.head > h1{
	text-align: center;	
	font-size: 60px;
	color: #770000;	


}

#log-jogo{
	margin-top: 0px;
	background: green;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 100%;
	
}


#fundo{
	z-index: 104;
	opacity: 0.9;
	position: absolute;
	width: 100%;
	height: 120%;
	background: black;
	display: inherit;
}


#game-begin{

	/*display: none;*/
	z-index: 105;
	margin-left:34%; 
	margin-top: 20%;
	position: absolute;
	padding: 20px 10px 10px 10px;
	width: 30%;
	min-width: 20%;
	height: 30%;
	background: white;
	border: 3px solid black;
	border-radius: 5px;
	text-align: center;

}


.carta{
    float: left;
    position: relative;
	height: 210px;
	width: 130px;
	background: white;
	border: 1px solid white;
	border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-right: 0;
}

#game{
	
	background: green;
    display: block;
    height: 100%;      
}


#cartas-player > div{
    margin-right: 10px;
}
#cartas-comp > div{
    margin-right: 10px;
}

#aposta{
    
    position: absolute;
    /*border: 1px solid red;*/
    width: 80%;
    height: 22%;

}

#aposta > div > *{
    margin-top:10px;
}

#continua-aposta{
    display: none;
    position: absolute;
    /*border: 1px solid blue;*/
    width: 80%;
    height: 22%;

}

#continua-aposta > button{

    width: 100%;
    margin-top:15px;

}
#stats{
	display: none;
/*	border: 1px solid purple;*/
	text-align: center;
	margin-top: 70%;
}

#final-result{
	display: none;
	/*border: 1px solid orange;*/
}

.carta > h4{
	font-size: 40px;
	padding-left: 10px;
}

.carta > img{
	
	margin-left: 15%;
	width: 80px;
	height: 80px;
}


